.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav {
    background-color: var(--green);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar .logo {
    width: 60px;
    height: auto;
}

.navbar .logo img {
    max-width: 100%;
    height: auto;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav li {
    padding: 0 20px;
}

.navbar nav li a {
    text-decoration: none;
    color: var(--lightgreen);
    font-weight: bold;
}