body {
    padding-top: 90px;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin:0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav {
    background-color: var(--green);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar .logo {
    width: 60px;
    height: auto;
}

.navbar .logo img {
    max-width: 100%;
    height: auto;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav li {
    padding: 0 20px;
}

.navbar nav li a {
    text-decoration: none;
    color: var(--lightgreen);
    font-weight: bold;
}
.container {
    display: flex;
    width: 100vw;
    padding: 20px; 
    box-sizing: border-box; 
}

.addNewBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 20px; 
    box-sizing: border-box; 
    border-right: 2px solid var(--green);
    height: auto; 
    max-height: 600px; 
}

.addNewBox input,
.addNewBox select {
    height: 40px;
    width: 80%;
    margin: 5px 0; 
    border: none;
    border-bottom: 1px solid var(--green);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    box-sizing: border-box; 
}

.addNewBox input::placeholder {
    color: var(--lightgrey);
    font-size: 1rem;
}

.addNewBox input:focus,
.addNewBox select:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
    box-shadow: 0 4px 8px var(--green);
}

.addNewBox button {
    outline: none;
    margin-top: 20px; 
    height: 40px; 
    width: 80%;
    border: none;
    background-color: var(--green);
    border-radius: 5px;
    color: var(--lightgreen);
    font-weight: bold;
    cursor: pointer; 
    transition: transform 0.1s;
}

.addNewBox button:active {
    transform: scale(0.95);
}

.addNewBox h3 {
    padding-bottom: 5px;
    color: var(--darkgrey);
    border-bottom: 2px solid var(--darkgrey);
    width: 80%; 
    text-align: center; 
    margin-bottom: 20px; 
}

.listBoxContainer {
    width: 70%;
    padding: 20px; 
    box-sizing: border-box
}

.listBoxContainer h3 {
    color: var(--darkgrey);
    margin-bottom: 20px;
}

.listBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--green);
    border-radius: 10px;
    overflow: hidden;
}

.listBox .listHeader,
.listRow {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box; 
}

.listBox .listHeader {
    background-color: var(--green);
    color: white;
}

.listHeader input {
    overflow: hidden;
    width: 20%;
    height: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

.listHeader input::placeholder {
    color: var(--lightgreen);
    font-size: 1rem;
    align-items: center;
}

.listHeader input:focus {
    outline: none;
    border-bottom: 2px solid var(--lightgreen);
    color: var(--lightgreen);
}

.listRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-bottom: 0.5px solid var(--lightgrey);
    padding: 0 10px;
    box-sizing: border-box;
}

.listRow span {
    align-items: center;
    width: 20%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.listRow div {
    display: flex;
    align-items: center;
    width: 5%;
}

.listItemsEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-bottom: 0.5px solid var(--lightgrey);
    padding: 0 10px;
    box-sizing: border-box;
}

.listItemsEdit input,
.listItemsEdit select {
    align-items: center;
    width: calc(20% - 10px);
    overflow: hidden;
    margin-right: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--green);
}

.listItemsEdit input:focus,
.listItemsEdit select:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
    box-shadow: 0 4px 8px var(--green);
}

.listItemsEdit div {
    display: flex;
    align-items: center;
    width: 5%;
}

/* Option Stilleri */
.addNewBox select option {
    background-color: white;
    color: var(--darkgrey);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
}

.addNewBox select option:disabled {
    color: var(--lightgrey);
}

.addNewBox select option:hover {
    background-color: var(--lightgreen);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .addNewBox, .listBoxContainer {
        width: 100%;
    }
}
.doctor-calendar-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-calendar-page h2{
    border-bottom: 2px solid var(--darkgrey);
    color: var(--darkgrey);
}
.doctor-calendar-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--darkgrey)
}
.doctor-calendar-list div{
    width: 15%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-calendar-list li {
    list-style: none;
}
.doctor-calendar-page button{
    width: 300px;
    height: 50px;
    color: var(--lightgreen);
    background-color: var(--green);
    border: none;
    border-radius: 5px;

}
.doctor-calendar-page button:active {
    transform: scale(0.95);
}
