:root {
  margin:0;
  padding:0;
  box-sizing: border-box;

    --green:#a1dd70;
    --darkgrey: #6b6b6b;
    --lightgrey:#8fa1f3; 
    --lightgreen: #faf6e9;
    --midgreen: #c4e3cb; 
    --white: #ffff;
    --black: #00000000;
    --background: #fbf7f7;
    
}